<h1>Ocultar elementos</h1>
<p>En el proyecto hay clases que nos permiten ocultar un elemento dependiendo del tamanño del viewport. Las clases son las suiguientes:</p>
<i>El recurso se encuentra en la ruta "src/assets/styles/_css-directives.scss".</i>
<p><b>rshide-xs:</b> oculta el elemento cuando el viewport es mayor a 600px</p>
<p><b>rshide-sm:</b> oculta el elemento cuando el viewport es mayor a 960px</p>
<p><b>rshide-md:</b> oculta el elemento cuando el viewport es mayor a 1280px</p>
<p><b>rshide-lg:</b> oculta el elemento cuando el viewport es mayor a 1920px</p>
<p><b>rshide-lt-xs:</b> oculta el elemento cuando el viewport es menor a 600px</p>
<p><b>rshide-lt-sm:</b> oculta el elemento cuando el viewport es menor a 960px</p>
