<h1>Flex layout</h1>
<p>En el proyecto hay clases que nos permiten utilizar flex para poder alinear elementos hijos dentro de un elemento padre</p>
<i>El recurso se encuentra en la ruta "src/assets/styles/_object.scss".</i>
<h3>Las clases son las siguientes:</h3>
<h4>Alinear los elementos en fila</h4>
<p><b>flex-row-center-center:</b> los elementos se ubican en fila y se alinean completamente al centro</p>
<p><b>flex-row-end-center:</b> horizontal: derecha, vertical: centrado</p>
<p><b>flex-row-spacebetween-center:</b> horizontal: ocupan todo el espacio, vertical: centrado</p>
<p><b>flex-row-start-center:</b> horizontal: izquierda, vertical: centrado</p>
<p><b>flex-row-center-start:</b> horizontal: centrado, vertical: arriba</p>
<p><b>flex-row-end-center:</b> horizontal: derecha, vertical: centrado</p>
<h4>Alinear los elementos en columnas</h4>
<p><b>flex-column-center-center:</b> horizontal: centrado, vertical: centrado</p>
<p><b>flex-column-start-center:</b> horizontal: centrado, vertical: arriba</p>
<p><b>flex-column-center-end:</b> horizontal: derecha, vertical: centrado</p>
<p><b>flex-column-start-start:</b> horizontal: izquierda, vertical: arriba</p>
<p><b>flex-column-spacebetween-center:</b> horizontal: centrado, vertical: ocupa todo el espacio</p>

